DATABASE_URL="mysql://u505349114_nutriadmin:@qnUqk6LaR@GGjc@srv812.hstgr.io:3306/u505349114_nutriapp"

DB_HOST="HOST"
DB_PORT="3306"
DB_USER="USER"
DB_PASSWORD="PASSWORD"
DB_NAME="DATABASE"

APP_URL="http://localhost:3000"
APP_NAME="Nutrição em Movimento"

AUTH_SECRET="change-this-secret"
JWT_SECRET="change-this-secret"

CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

NEXT_PUBLIC_INSTAGRAM_URL="https://instagram.com/seu-perfil"
NEXT_PUBLIC_GA_ID=""